<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!-- worker manager will configure workers to send heartbeats on this address -->
      <add key="controller_host" value="192.168.0.1"/>
      
      <!-- this is where 3dsmax.exe is installed -->
      <add key="work_dir" value=""/>
      
      <!-- this is our test runnable worker app, replace it with 3dsmax.exe on production -->
      <add key="exe_file" value="WorkerManager.3dsmax.exe"/>
      
      <!-- desired count of workers to run on this host -->
      <add key="worker_count" value="0"/>

    </appSettings>
</configuration>